<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Country</title>
    <link rel="stylesheet" href="{% static 'holidays/styles.css' %}">
</head>
<body>
    <header>
        <h1>Select a Country</h1>
    </header>
    <main>
        <form id="countryForm" method="GET" action="{% url 'get_holidays' %}">
            <label for="country">Choose a Country:</label>
            <select name="country" id="country" required>
                <option value="BR">Brazil</option>
                <option value="AL">Albania</option>
                <option value="PT">Portugal</option>
                <option value="AU">Australia</option>
            </select>
            <button type="submit">Get Public Holidays</button>
        </form>
    </main>
    <footer>
        <p>&copy; 2025 Public Holidays App</p>
    </footer>
</body>
</html>